<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-quarter img{margin-bottom: -6px; cursor: pointer}
.w3-quarter img:hover{opacity: 0.6; transition: 0.3s}
</style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      </button>
      <a class="navbar-brand" href="/">Daniel Vorobiov's Work</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li class="active"><a href="/gallery">Gallery</a></li>
        <li><a href="/contact">Contact</a></li>
         {%if user.is_authenticated%}
          {%if user.is_superuser%}
            {%if user.get_username == "Daniel_Vorobiov"%}
              <li><a>Hello Creator</a></li>
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {%elif user.get_username == "Admin"%}
              <li><a>Hello, Admin </a></li>
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {%elif user.get_username == "admin"%}
              <li><a>Hello, Admin </a></li>
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {%else%}
              <li><a>Hello, Admin {{ user.get_username}}</a></li>
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {%endif%}
          {%else%}
            <li><a>Hello,{{ user.get_username}}</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          {%endif%}
        {%else%}
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {%endif%}
      </ul>
    </div>
  </div>
</nav>
  <div class="w3-row w3-grayscale-min">
      <div class="w3-quarter">
      <img src="https://lh3.googleusercontent.com/-dL90arxWZZ676DlnlgQd5DGMAcrViUeLVJvKskYPjQIM0cvm6e7sSVokXcjdmKRT3z31AvMiK3SREgIPx9B5xqPQsxyODze65fIhO3zfuV1VRMw-MMm0f74QGMpCqIUsNYzqR7xIpADj-XJCaiknCS80HygLHNo0eT_mn-5s3u3KMkbCENJUI_HRyoYZKVq7lEMXcfaH7vI_OCUy3Sng_9QKaVDC2QRn7GHRmL6Ck3YruU4ReZTzb_wdvO9JnYCaaE0B3G2JKIt-5pjrLisQmVWs_S8B39TgpnhFNqiqmf1sxQPgY7QJ7UkyJmljUkQqGBPbWA4K0OG2B8nr3RjZeGTa-cVbeVJYlLBF-wUEPRqwj0DsH5NW24Sa3z50YC-9KSDzjMNtHJDiVMD_g1ZWP70bgWH7wYvSzvrg_UAcmYPX0nbdOUQ5FIsyuEGuO3GmyaqCFV0ESpqShDVyV9R5pwCkkuWYkqN_SMR_YROB128TyAe5YEQHzp84HzqsV7rjW5J-msL6600c3iGubUUlpurppCas8GAe6ubeqGcCVzGkpIVqXanYvGu0RGgdhQv6mYWVyWHJmUfNEtMeV5cxhR9bsVV64t75U5EMCWyC5Oo-tgyrWjvZgXtYjwqg4jVBReoaUkIoVue0J1x_cm02IkAcuGSye3RbtQJEjRDYEqch9VJ8u9P5YmV5_f0g1liWTqDA6yxiK8hGBCcf86jxshEKz-ZmqRXSbvuh7tN5ERzzwcBPQrywEA=w603-h904-no" style="width:100%" onclick="onClick(this)" alt="The Castle Gates">
      <img src="https://lh3.googleusercontent.com/z0eWaZ5aNTETaD9FVTVa4k4SGMX0atNOCVOEsojNJ_9Tyl3gjCHZi7ATQYkvZ1TpOmrM7bkT4ackLPky89U2kPDxWil_uRBxoIxbFeKNct7EOgAoAFKaSTnbTlPEruDvVSAx_NrpnwlTgcxj_GV-i6ieRLkt71TQEP-oSS7gZJOgM_S4S_H3tt0rYnHugKy9OsqGU00fnEvBMqU5Ew06FSA7St4szdtaoCe07FrW08Mr2iOp5he_k_rm4V1el1TyKiEffvJY074rSRxmJ6DB9IvTfrig1Wnaati73Uatc-iHp0i8HP75fNaaF2mfB9SrI04WNFo9C1PqyIX-sWCL_iwVrAhToqx8aOsf3FHJa8N5__QymsCUd27DHrm0CNOtY03saPSaj6p84txb4pQkmVnJwQd0j33u-PZXoN3i5W6W2gLfxcHRdVS9nD7RbH3g_6dsqcW04nkpE-7LkeGlTEpwH8MvJfcxWRlejj96NybVcx5W8sZETLR8uXfUsktSgskrjxfyZH6s-CgQh052jEh-XkGm1Qni0ihiZfX_Z3LgXDtHbIUZ7NKZCd81bbwr1XFlw05pSar-uOFBxA1CE3lcdlOa_2IHl5woRWL3Tm5Y8_PIoGATk345RTPLFh-oPzr9ca8eE-3VeP0RuEkCg903n3s0sUEv41odBWnnTpcWDhvk7ohe4mQAz2655fOCw99AkIHVekSpi20Vw8Ts0OgFGnYWwq1f1S97-h1Y5JRLYc7D5da9zTw=w1357-h904-no" style="width:100%" onclick="onClick(this)" alt="The Royal Palace of Aranjuez">
      <img src="https://lh3.googleusercontent.com/PEPQEDxWgNVGXEnEpb0HOUOyCLFJUtkmSOg4vM5Kbq_rlq00S1ZCLgNdEV0QWVe573C1Pk1sBRShoh3izUs7ckB5xQfhHxS37XSk_fivacagZ9mo45xVzF39fYsveCJ1ReI3B9yRzs8ywIWAZ9uk--_2eBL3WFDCYaee9Gq7b3XZ9JNowIYBdorPYe03kbP1Z7LTuqM69o6mEXNm3b50Q8IkseHn0snXSkDu2KB-d_qSUHB4A5Ilkb6F-90ya6oS6Fjyw--GNkoslT-eBgEPyrlYccCCbl75OA7sgRs5hDEVx4ZaHdqNxCwqAibvg1tsIJbbOr26e7Q66fREh0aXIuqPu1-XsZo9nBbhrT5aknB4_HRUP03fWHLZpOl4slGhVilGxOKJX82MkHuEUrQcvVXmiGnPl_hE_O9d6JWIE-zmu_Q4YhQjOMftLA1iH7qVnlx7E9e7wCDHuoUDB2a7wjuIexng-g10l_-jhwPpljwetiuL0E2csoPodd6F60rnCScBlc32g9OsixDlU_YMT1mVNK7_QMyAVkmKG8_sYKavBs2dn_PL5_V2BndThJJuG4n4cZxeeFfz14aNh-trQr0qKxMR9qZOZO3Pb6TjL5a-UNDgaLE1yKMzDSE5rWTwtmWyxTOvDfqO9TsRendL25KuYJzLiVmm3BSq9eP7_ewpQTTb8N7zQ0jcinTwjORmP1D2UffILgh4tgPtsc6lewcrC4tYu6AuElKRaRu4bx_pIiwecyMJR0I=w1357-h904-no" style="width:100%" onclick="onClick(this)" alt="A Royal Garden">
    </div>
    <div class="w3-quarter">
      <img src="https://lh3.googleusercontent.com/q4J8yrNkuD5cswhh1oRPnKdM0tttCoEDZ8X55GB9rllYZqPymFZAMxQCyXW1OaAUCtFfDPBZXitFfavpoLILfwfNaiyd-L9Rv0AY-t8WiJSpEHk4j7vh9XAt0G4ZuLUShTu-QggUbRRQw8opGR4a_4uhXSDdsqftW1pNTs1NtOYYkrhs7gbGrJxaWiGSpjE6eLxY2DOkIya0TD4Gfhibdznt0MEaF0b2bcUo3iAfx4kXGNBuRmubRL1lsb1Ux1YLzLPUrALRXb9MSI2l6nhNNfCQxN5spW1NXUErcMkDAwFigkeXjDVCSk_ZtBNVOJxf6aP0GuLdMDUdn6ljdFKd1lxX4944598_PCWukRyOItNzCEc4-t7xwYwR8gywhKlGOr_mN0DT2qxi21pP0wRyDQFZESzbYbLmQeYdsF1B5arf46Ise2cqlbq7MtsdjKGCHwJafht4XOucoA5qu3_LvTPln0dW3ircoA1QjTZHtJi7RB4RhYjrU1tqNUud0NtFnWjlakELnQXAerFs3l6wNaoLdYWBOLl7eJ3RsrJPfHwE4oRstL1jXAYDnhEx76_q9jgca_npEBvy7GCHmQLutVTZo2XZFsBcf4tfIyLvP_kQKySW-HawzEQEh0xkWJiWiFYtXstRZSTH1Jt3vDXwZvTgAksDPBSLTPiGxYEWoNHCuLrhTg4oK0aV5vCd_HjNYTugowKamVMVnlYyCijIlbjxeG8SZDAW-N_PBOjmCuuw_4BlZdPXqOQ=w1357-h904-no" style="width:100%" onclick="onClick(this)" alt="Royal Plaza">
      <img src="https://lh3.googleusercontent.com/pHdh_WDwmWJ02oBH9VELFZrzs7ev4RPddfgBmpJ26rP62fOIhY5UjoPC7Htfpv3uLzAjHFWjbn2qIOnGzbylYhb4pUlEZfllEaIYIaQO9r3MNNsF26oEgPXCwta6YfLX3coXIrVPmYTBBNjiScWMBlWKsjEXpr5ZyQq8QW1UjNikrhnMq46dyFy0Nz4IQFGweyi-v25-XzaYd1Np_S8U97C_ze_898yNpDwxSr7EEqPX6kwGlcQd9Ftzf9TbgbYQX7NmqF7dPsgJG36KetD82vgDhcSyk1jCcOvGN6jK_xqooSdozAdBABFmBnXwRyRo9Wp8Zs7pvaJnoy60WF2iJ-assGKsxorrqvVRGc1Sgz-7MC7ua0evt2BRO6nk24zA8Yv6Y1_JJ6a1xTVDRGizxA3ztn_otcr6LQizVxsNqfFb29B8kMsbhOUgIJLgNNcUVlfzwntDWlYbMvxCW_2uSz59n2xw9s_wJ_QuZAe0FAc3G0To-LWdnXoiRTYRcYbgTSlidAmpD9yKYc8zeUJbpvvlIsTzozjD4N54RdvjvN7uXkc8fnhKKgvYr-EP-wib02PCQXZ9fK0Ztbs2esfAUiLBNgRLeXg3qwsoT3lZFLrN6LwO20d-FtaDj892rif3B2pTznzEOUTahS4Gt0U-ZcvSDjsbNtKnQwaCzvymP-PqSgPzD0DyrqaWIstb5J2oKMbwTmkXKzjpUJKgKaWSCFp4S_9FFPi6LEwEqO84FHUQLKbO5CK1YoU=w603-h904-no" style="width:100%" onclick="onClick(this)" alt="The Bear and Mulberry Tree">
          <img src="https://lh3.googleusercontent.com/8yDOluTIQvciTibDK1e71dXXQLwK69sUFhwsE0Dvmc0h35sqkW9001XqcbyWPrrD1BO51JvTlIZp4UMP50Ko2B2mHr3iLfGQE3HUc0vrJK2CYBfWwHhL7VV5kXgXrgr7WCBZWnwNWY0DorlXX5yS3BkgTKsipOD0xHikzsq02g9uxKfLugpHZhSlX4QpYC3k2FPRS2xkH6whCyN-2IpOpxf1i6F0Vtbc3dwXftCp5S3X1tmYg9zG8dvNK5L9iMd-P09TUs9tPGB8kC4PIBGtUiVltSpwE28hRlOjfhePhPbelDvPtCnBLHI6yVV-wtZgWhkiHqzzChzwsUpjV-F6PqXYInz_MHj6lKDadEIiZtPRgsQJcd-LKy1jPQ0m2yjr-dLFm60CHAaBi5ADjqunQLCVKzq5-M4GPdigfx1aoRoV7EPpCA892fOiOqn2bpWfzLW9yA45Udkx0qzLz6gbzWNwVs8o4pEO5bwP2iFYEhX_ajWAM7Su_9C8YDvblsIzbSRfz_-YsYkvawk_ilLHTNanW1KL-kjhlrGrONaOkRt8b_3SU_MMzec6HwzrYz1vBgdbCT7CjdL8_8xQE3m7xfYded1oJgqrtNLtLLjKHXSDsH5PQU-KPYmd-eemIt3BLmHOT0B8KFlsjuJWXCsBxjgH0WV_fohXwYU2-XGRttVvAmROmAwqAGlNpCizwY8RZTi1cxDyPziSGo1OL8Q2Id3AsSO0FHBTR8Cx5iJI6K5owUgOwIyjr4o=w1357-h904-no" style="width:100%" onclick="onClick(this)" alt="Plaza del Sol">
</div>


    <div class="w3-quarter">
      <img src="https://lh3.googleusercontent.com/QRAPcstVTb-QGh5hjO9BGtEPsV9w8HcpWpblZO-Y3O3iSnacL68iL7fZsTzdjGw5XUyybbws4JWgYYgkpRQ8LbEnysZ37JUmwwbxAb7btREHepeA34rIfmaXzUIaiVsdTgy2A33oNlThSsZBX5nPI1m2K1raLR82Y5g3coujpn-FhM6bAZQd7awGlbwhYtx0SNmrjPZczhp13iLAnp6kQp-cLwir_3RD4pC0MRVLbboOXPoH6CmDjachmXaI9m-xCiNh5vZfb7FUg4ji5uJaQ4lpFRW8P3Bix9Uy57fFgKjlm8v_VwhkSup7bWW0itFcvopSrI386kjNNLG30XfdbkACPoxqVG_xhR-OnUotf6IlY2F8KAdI4j5a4C4aRT0tld0HJwpR2Ovgg54gt0nZaRBjlkfZ04Pw1YWuVKiZOHNGdLwa8CPcYOWfrHSrzLbdslgSahxBd92loUiGY0HPF8RtI99KQtrlkW5uSPTqhShohmAH8pHEx5TU6eflYFywY3FlE1F0gUtMZG3ypR2ODP4JG4p6IvJNaPmBls49wOsmX7Oze8DrOz7G5YwYcdAHdT3DVenuFUXbcWHqBIfk_LFelTzS0zzZNhhuiFzhNftp8FoZasJhKB9b7naaHd5fCrdsNTSZqsihd3PYpdUQ1XMpG46cvu2RdUqV3pnYh6RYcZ_QTvX4nNPVy7Q05wJ_XbqM1Ns8fkPg_6AISjR7TZPgqD-LNVwJ9x2UvqKlmUQhiiwQbN2luBw=w1357-h904-no" style="width:100%" onclick="onClick(this)" alt="The Golden Hour">
      <img src="https://lh3.googleusercontent.com/BOER5F7AFmRI30UHccP4DiZ_Go1wFa4xeO-7AwzH5ysw55GkfSC_QdMRcvFrcMG3j2PlIM_pLWEK9fCKKcOUTCDzTfnLgrXeTWbKBlFbxPtfmiy1xGWrQZTJAT4Xul9Q3Dgg9Q-BQ6MkbM_WgOdCnEJb1Vr1TtV-yqGYHqjpPQ6n2GgVLMTvDsBmaLNHvKMXBUg8GkbqO8Ckusr19GLEKUCt0MHegYkLouQL4sHXKzkv-9rS3_dQgRaLC5L2APXU2Eik3BO71ZPpappNM7d4ZaAXmIKP7cuxCsY2tr_ARhYau1TYC6TW-erLVegyD2AOquAf4Cot5U2mgYyFMIb87kgtTbVe4pSGSuG5gHdiJ5mXUpc9LjbqFbswvbtObi3z_Xi5bDUo0bJ8wzgIraf9y_C0-bJum9sZJRrzqUKlJj8Q_VXXT4Gx6Fa5m-JWEfF9iDMuRRHaD1vDJx4B6PWeCjgpXWJMq2d2g6zKAq1uWLX5nXO1BJOwi-ie1q2P4VLYOCqnspf-oWPvCOA65hJZqQ2aQB7xjWYV8WMxVKt1pLnqGqqNQ7CPc8aNUggWnbv0qjqeXgDWg5NDcRnwJQ_xEGuVILTVk-GXG3bLH_sDMkiPo2i0yB1EhdFz5cYrXsTmP2EvWpkgi8PWT0D-k1KDYs9bL8sZW2vTTcUypK_u3NaiSpptKMLfbPmUb40GN61BTIyeaTtCh-xAxdfXoJVFS9uxBCt-rwIeQx0ISSsJSLt2VTf6Ny4707s=w1357-h904-no" style="width:100%" onclick="onClick(this)" alt="A very epic tunnel">
          <img src="https://lh3.googleusercontent.com/YKWSJGA6mNNXc3vBFZlhf7ulhlLmN6p3gcmV_djNhCZjpd-de0mDDWj-xI6qw12gnML0tYwmb4WfwFmgBf5QiOxsI-yNqOUI5LpJRLUPZeyQ6yY1MQYrS0-Bx6Etv1bo4tCmv8Y-TUaJ6C4t9KHQBW0o5ORGCjmP3upOXaHVWDQpW2CyVsbzzcQPS47hp8xyYGZh9NEMaQdagOV-ddljupfZ3qwZRZTlNunJglokNDa3ZEQDRd3K9D8LH3-hfcoHktGDqHzwwvrNXTIWL6hnWlA3aEI63JgasnIHmdecCUzfd33FhA_dI-mSYCh6ODNODqCLNh23YxkjxMf6YqLlXXXWWMv0_eBk3uAIwhFuvUTyr9jblcIRR-MH-Pudb96ySWWq7YBNDE-tcHzMYmoeFHqEiLQREQJkdCB76eV7C3Jh9Gwxq73uY4aSs-0de2WU43-WN9RgiHZ3_E6ILd070FrZkECCJ1-fKuJDfI5tUlrDNosxPG5Hq6hblxrzO93AmnXkgZwANtjTIMjzKgfZbsvcPqTEDDMRIfNHJ4CrWRYRKq2Yt4-w4_xpyrYxxqaYVeEskzidNANXze6GXthZl4V0e6Wng_P-h80Y6WHI2Ca79vIfuxkDSnOIXjtglk4ixfRBoNANYDGaxEuY7vpykm94LOBAUPPRbknlN1cKdF3mZcyCdT2mnq4mbU9RzSwOJo5VPbWVSFk28t3em4JIUKvftTcVoqF_KNQn8D1DkUfm-ks5ZLhiFGo=w603-h904-no" style="width:100%" onclick="onClick(this)" alt="
Getty Images
Major General George H Thomas">
</div>

    <div class="w3-quarter">
      <img src="https://lh3.googleusercontent.com/LMglZ0LU41zO0QE62DLXuDl6q5WxL0gpJsACjlZrjZlXYn7owkK-y46swOfA1wNJTNiXqQJmVQYiSrIjc5Y3RBJIR6NYyIcRHZFh7pCW_VqRZUGrcn8yt5NLIelNiK_OXMBFp0z94uwUBEzDv9l5LhjkdluRs84NvzfxXRQ8lzqFwpBUtDN_AeYiSetMLpsA3t1vVoB32wWm8iWgNmVGTFpdxg0v_FziHHkEjSLOsF_Tk8yM9rH_IpYZFrarJ8QF2j2RAnxiD1U38S6QmTlWLDoJl9k-dNnaogb97IS6i4-rRMYVHdkyvRG77GiXF3mpTloFMYlnwL_I8_hs0y_Ls0MASd3xGvC12SP7Atz3oUdohwKjvSHtZLkN9pkwW76WTrtNynk9rYlnBkIMk8YqiXLhw4EzwYGMNMj2FeYW6jib64rRmSPQldjOy-e3uUpn6SZHe4kQo9VbwyVhEgaY188TdEweEt77i8YTbiC0yfWvTJ79CzSO41gDU7eWstBjLMoPf2_w5XRWjp7xKgoBAD7jIr6XCb0zQXSQk9WmWrlvPTl6dxAMr7B7P026QA0a7Sxl8hxCm_gPPyeiokGpVBH9dMZ2BmXJi3SS9T9_mHccRf5FNvzBUjyb9oEQrX0wQnJeDKpb9CxATpFCd2990zwTfLTRHP9FR1tJ7KABp6hy9QSu06tEf2v6gge9SAOuyo-F0wExD9ttunDea84hD8ukKNygrLArKpJbGOnMJ7rOOT8dtuQOzRs=w1357-h904-no" style="width:100%" onclick="onClick(this)" alt="Some awesome stairs">
      <img src="https://lh3.googleusercontent.com/uYKkzWDINQuiPGmbKK79nAFMwdJdxnrsGfWNSx5HnOqEl_XfyjnK9crH7zwI-jquTIflrs0gMMJzuo5v7Ek8L9q468OKGBDGXtUkTUZvnmihzD5HSryWKoOm2Rhcxkj0-sLSaIq_5hvOehi3oJCb5cvUFfUyYiZ4ljjtr2h5_rsRx4-ubdjvruCwqnGOrG4x-M7MpC-CTTbHwmfylv3rmj4v0Yph2ooXEiFT5l3o1SVRQ6sg3DoKc2p0lajEMMsW-Teyy69uTXK-l4tEVPqs2yifxyydb5V5cdZ1nJsFaRlfD3tDECc7wVw6T1DXlO48rb1hUZiwtEllOwvBwojRG7vBL1FT20H03UsQNMYP2ZxE4qiCBwxMwIxGktx64r_wV_24nms0OFp2N50alj5Ub_belcznnyj4VuXHaacDXB385zidNtGlZu2Y0Nu-HenyZPxztklPPWd8FWriNBOIVN63niL8qGrmGbS6lcDiwkTTvLfJqyo4VnrBBJgM-MqvH9x4S3_GtRErFzBcWAJADFbUl-pJwSbCDcMeaGfsluehpMnevOgkjR03fnVoinPSYKkO1FOc6H37-5bS0HkVYEXBW8i6OmNIJbgZcxGqxjhHJxBF7fQb1KaybeXYANjPA3rof5ztvTOvZ2eQzAv_Djl85s9EUSDoL4KNUPuYWCPC9s0cyLIJGVeeu4gkOcM2olze1IkRGewM5Up4NkUecBXAX6QIx-M7zW0Df79arU_4LjsZRGTb6IU=w1357-h904-no" style="width:100%" onclick="onClick(this)" alt="A beautiful palm">
      <img src="https://lh3.googleusercontent.com/qSO98_FbN-gQyHu4MkPmmUMA_0BwtD5prkTgdAiTurZpLPLLeqA-8pmw5x9oKu17bIlcMOonbrZ0FCPLMxioUZ0948PFvGDcFqjzlX3cuAkpQzuNKSy9OCk5RoRklZfW5GtsEPhIMoOONE1Vyb4lahrDRCmnGqzXHy-i2VBq8mjMJ1Vucp9PceArQEbIIseOULvHdzETfpvuVQ_Xtn0upEIMfC7o89SJAh6_hTktItwaU8dizdHHTR0QH8aCzhvvkcYlE7mbnwFuhMeW6xrF4sYwdfjt4f73Gt8BmrChCr-cQsbmq8pWMOofXSVIYfbNno-hFk07echKh2wY-0VxcIeBRLuOQrOWusddJyIfN-3XOuzv3JJah1ZzjkILMdiRQcpI3AFue5fQAesUAP0sYGkir8FAundXT_w32w1KfkBUiNTdSX3lZVbqFo90mMEhXPPhG3WRhCqMMUY1aDp6XTtQXJlXDRGHU1RcUWLdYy8WxJnAaQxW7eO5L_unYuTIx69eXUI7PmZIT8W71knlMtXph-A6QdTeu1Et84zVTE5Hrrd_5MOI9T95Yer3NJYQKG4r9OCUunOLZ_f_65jInFbc21Jl__rb6rwdNuA8g9_K7W8waPHOaDpQtehkGq03jVsy5F27GFtytL3ylDeJVYkVCxNFB5JEstd0vCuah7ySyG_xguJCQIzJygUGOWQ5XwJwSzdicUsqGExvkBb-Na3CGernOhSAQYTM5PocC3BG8jIVVnl-YAk=w1357-h904-no" style="width:100%" onclick="onClick(this)" alt="Plaza de Cibeles">
        <img src="https://lh3.googleusercontent.com/a9O7rwE-xmpplfBd9oB_2Q9xN82L_wu3G_F6tMAA6rjfydLtsE8Lbl6ykIC_g_I-Yts9BdwD-iMfZwjWrVaLGkbg_GxfOdxBQsMu0kF5SHdp62fOgrczhYgTLXJURcT5uXBATp6FUxLKGq0yqp6Vy6_v3gUB5NMCmGzKOrWaFWB28N6cQFyi5-5lONRhy8wmJHQZZnLIYL80lYLRNiDgKJz2gmuKY7Jm_-LP4KfIY-QPQTiRo5sf9fzutxR8ocizPztLO4mpEKFTloctVFgxc7ntZqUfwLKdzzE3FNeFlNbmnas_Qj8PSJQdprOu_13tUj1Bfx8gymw8sLQjcSUESiP1KH2ye1mrBYut1WRlAOi7wkRszijHglfjBbGfoTLbl8eO5TJsU-pM4kxi5huCoDZnuPctsZrnS4zoN3syIkUs05JSU5kcn03jeG7cQ6iwuwZ7tXwE3spbnzXon6ZC0HqfgL7C3HgIpxsDsQwStCDv6hel2Lc3BpF90xHtMuJ4wei2auqpUyKfIBGhCOth0n-Ljz529Rmu-yFdA1DVqpCdLfxD8TXUd7YPDNeeo3Q70rKcP05RDWuc6dGv5ilUwfDb6Xz6ibXmhfwUzakQrHg2eP7zJxPPcGLEWdGGtWcjB_dYhNb-ECtRU4US1K-mt62z-0m7B8fNxWtWblBnULu_NfLH3lOOsQXuGm5zU73hcpQylaHJQ3je8fUL2OzmBv389bLVKKEwadhJlwRIpOYo17DULz8o7z8=w1357-h904-no" style="width:100%" onclick="onClick(this)" alt="Arcs. Lots of arcs">

    </div>
  </div>


  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>
 <script>

function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
 </script>
</body>
</html>