<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Daniel Vorobiov Portofoliu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">                       
      </button>
      <a class="navbar-brand" href="#">Daniel Vorobiov's Work</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Daniel Vorobiov's Work</h1>      
    <p>Exploring the world through the lense</p>
  </div>
</div>
  
<div class="container-fluid bg-3 text-center">    
  <h3>Weekend in Paris</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <p>Seine</p>
      <img src="https://lh3.googleusercontent.com/FXsHyQMUtblecgDNNydybZ5rSfFsNz72MWDowi9oeXAaAXQcnQV_HyvYIXTVtfrhwKsQdnMMtUnXxzAyCx_KC2fsn3-inf_J8o7LLbSzWhWX68-_SpIxj2wS3tv0-XhyugyPi6mC1P3sLqGcbNN6lkFWh8768N-vMWYAFIbis4ue7nMHpHfKai_EL7TgEEZbaIaBo6HGF1EmsVR0Dzx-3MQt1CrzA0oSI8b-_gysGw_sm7NBbj3c5WOS1owO2xiUwhJ6MqXA47kwAoFiXej_tbgGRplxbboRmh9DEj0qMhyAoth5JmQ4guPfhz0shgHK9tR2FEeJnfRSTR-qm1jropltPbpZmXfE9-AyiGvoWhrGAtVZOzRpscujTHw41JIeOH_keWg-L-eYCnKf1Rq5HGgOdfqVtf4HIPFP0VzALmrxrhZ8AlE1PaaBaQa04wHf07OoLjQ3Y3b2Bq97RI5ELbIkpenF5IszLrVUEkMAWOJh3zQGSkPrsxbITTsxW-RZ0WLUfM-RV6n60ohkjd-NvwRJiSz9r1-N9KiGEApvGDbXQuhpR0UFaF3BjO4YIDlWFTmwGBmPLKI0bJj1uzV27Buq8xUNKiXK4sMbpFCRYgZUkzDaiFG8ScJAN5hr32JnE_rBewejzjh4Dpdx-q8L3_HzAyikG8CIo3NmrAodkeMipkH3NhXERyQB1Sb4E-dZYdZHgfGSRVcTYWIzbBzVC2eEwrfcmwX_qqITt0YtnKWOXUV2=w1357-h904-no" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Notre-Dame de Paris</p>
      <img src="https://lh3.googleusercontent.com/vF0kAU7NrWuTvN4j1ZQe-qOsmYbrhUyCse3cmHG4lH3T0eqRyQfQ5sAt_XNO3ikM1-K8evY73knRsj56sWCEU1lmD17IO6w7FBNF3KhgZ5GLMYSKAc0E3P11NQD7xs7P7DKektT2ZuW3hDEOR6kR6dB7mHZoZi5abAFBy_CwLkY8whp05Td5YF3dAdR1YCZNH01nZ72qKFZ0WwGuQRFi6Fd0Mahs-x83UxexezqqTZcxcEVWqcBgONC-RQ4HXjWeXbBApe525JOfPvlD3Xd2ZT7CNwQf3uOV3xh3oHhACxVaXFFssul0H_nnZoZUe6C7y3A3vnp-Z1efZzyjXZN2ULpCQ6POF_68omz-puaymQuxNS4rX-JDlB8Xh_9ZFgfXIXfvDX8OKDTMPjXW7kPlPOVx8cYPF3eFPvimaVkaTPkFOA340VGuxRA8Hv6aEODGOl3DRR_2BXm3saM5JM1QIDDpd8i-YdWM-Jpb9eAIake6RPIv4y0Eb4C_x9TD952C9rnX-XQqCJmwtMNkM3tLU-fJKk9c5fR6XKnh1Ic-M-bNTMlseKkg-RSpCUr9vAK49XlVy6RiAu4y5lExF9iKVrGf4p1kpRCKNzGFW6nKnUEOK6hPM_ktsLH6qRtBt0Sz4A-6lktxYPgCM5qwlaWxall2k-sgDE7P_ry3S2ZxHQmyiTZ3HZ7Cay3niwJaMv4WQ2eRRAuHtl8j30pqA3zBePSLJQ3DPr0uXk5TYXYD7DLGkOeu=w1357-h904-no" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Now that's a gull</p>
      <img src="https://lh3.googleusercontent.com/2PTLz2yiDphx-8SIvKNFzwfmk4Tm0w9cK28Wdw_I0pxHvyaVzsAl0TiikPf1HVyuSult_zsaSCBwXaqRGXJFETpRNP00TTmHEwcirTsyLyhyKC3HgAEXgvZJSFmKRwKgk-yk6Bl5yvQYqbWSSnuy13e_OecNMM-ZrVSmZafUpunbLjby1JHRMxr9C5USQLhbyZ1zb_pLg8O27XMvrrTWv_R2s2ZcLRvb1G7-_fgnU1d6fpMqT3wTR2rDt55jzgkk8mxSQdPM7Hqy8bAtQnZ1m4EPeNUZO3lhA86dS6XiOGf9eE2mqRhR0bnqQauNkEzSI86ta_8QfTQfvX715KUZLAAutQ6r2eG9yNOiX2qCpCyaBbwd_gt7vPdhE9N2ciecoq1D02bSXfkjCnjcjuBgLNjRyG2SCD-DI36JxAs239WyRBNnLKoF4hT0_GYgXlnljCGmcpJ6MlilbBTgPt-tBJ-ibmkFhFrjRNAWbNHKzeRBT8mu1Ueiecje3G4a7D-AphSuZNZOjByOLvQQe0Ows7s3ImSwo41EqAgCp05iz7MgpykxffENhEmLqpOYd3vAkZm9xBZz-FA32RhJa9ObB_g60TVsph0iOfhu2WvxyUme0GWp61ZqxKxEPV2rrTwaG2S_LA1yLQXXerkMOEzWnfwJ52uY6RumWDewWJvJUYfOfy4mzzq_AGGuoduzUUhhgeliR4-4JL4dGswWRmAxexzrB2gwvZQinNCK8h2b4Ny-yhao=w1357-h904-no" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Under the Eiffel Tower</p>
      <img src="https://lh3.googleusercontent.com/k7DpN4bkuJ3EnlO55vw58KRgrvd9pV9OzGu6hXF4bFeHd2ALUc690WQ3UhoaZOosxgd1G9LH-VeJcYpjNw42ulWH65vcfCaVeyQVVvm6svLjJsWBOxdTHljSSIMgiOdUx_oLIx-viS97ihsbitTVQuMk5xol0pmPrF5tuPfvZmZmhscJK_yAUqkUH4tx_ICr37ihY0Ra6elBlBfp1vzF_fMr6n8Abh08ktwRREttaz0ikbQ4bGa2TNNAVnMnafP-f3DcJhCU1wT50ug9yE1swTgym4F4r7Qr_FhkZPKRzkDetMFSg7ieH_Ik-qTIMrxsyfG06AdsFSfv8No3ttLz0nl20MCreDBjiqxXwp6XAY0q_3NNUaTo5ofVgwuuAo22uSWIerJvs19drLPgwoFO8HYkbnBBLSdiwSNtwyyhl0wRtLh9ofZuaKlqz1-fc6Wmbhdegjdxp9rSCyTOoKeMvHXhcmvNo5ztw4UQqhGfa0rV2QrP3D6SN7WoLDrCchlR265HkIKT2kqvrT5kRA4T4JKq6urqyojoxDnDIYLZcc84Rk3Y05KlaW0ulf5NZwmRU5xTMwqTBosJebjk-pV-z3HAE-XVVbJeyql1VscJIQtH0AueTkRvOds9-HCm1s72Q3ZZbpzfUqO2LvvwwUuU_w2VZqrxu_dY8ThxsWgzrgyOA40DcYYh7EQEZVeWsfsNnZkVODRmhakWA0RnMdtTHsIjn-C1LGJry4RMo-OhAmjZEwch=w1357-h904-no" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br>


</div><br><br>

<footer class="container-fluid text-center">
  <p> &copy All rights reserved 2020</p>
  
</footer>

</body>
</html>
