<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Log in</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'Login.css' %}">

</head>
<body>
{% load crispy_forms_tags %}
<div class="container">
  <div class="row">
    <div class= "col-md-6 left-side" >
      <h2>Log in</h2>
      <form method="POST" class="form-group">
        {% csrf_token %}
        {{form|crispy}}
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> Remember me please
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <p class = "loginq"> Don't have an account? <a href="/signup">Sign up</a></p>
      </form>
    </div>
    <div class="col-md-6 image">
      <img src="https://lh3.googleusercontent.com/WdUz81NrLfiMsUkzxFre49fcGwwxEIfuJ1FCpU_iQm1rKQfFIaY21UruQdCrECe06XJ8S-ON5UDK1M3p1IHyh3pT4UbJ3bcrNMeXi3M4O_0eI77er-IcnRJ0U5tRHlPpV8mYf6beeYensw_UtswiJs26-nJ9KtCkP__bklheCscerTz15fkbZ9uj37CWYqZ9ZT3yg4yGonx3rPsjdn9yI1PDLqi3JSpc3J8Z30pmPydx5Yy8AuNN2KW13gAddZz8GutKVtsBNDSmK_KvIrC2iIijH2Bp4u_zlf9fiaoXMU2Z-IhhiAYpkaOvQy2Xc_b-5snR5rBL09p4XEPJwv-Qicdkmms33668NHJrwk35YHcc_ldmbdrAGflUN1z1CnISQQOPbSnKV2IkDz0c2rA0cNBz3Qprez2RXbVTkJ4W1Y2Vtr8ubp1hitxQ72hQdSiphfTQkBwbwP8nJwS-fBViAIhIDOh28iRHprnBi_pmnxPnLXYN7ljfVUoPiDt6-HIdJoZaMxpL617bGKsWRNjQG1O-vazhTB7vhPhigwLVZzg7Td2leCEdcJkG1wwHD3wWc-7tbNFQmimlmDUd0sUsqXSl6fX_3kiJrehjOpU5c1lAZCvj5Q5QKpYn_XiTWUTUGZq4XBEihhcg9J2p4yLm0mxQlqW9NB1tR1IOwGnWsZA6ENhGWiZRqNqhm8CxGkvveNsY_QDk9udeq7cgWSPspKO_44eO6_VRE8v-4gGK6YNhGd9ijL5ESI8=w603-h904-no"   >
    </div>
  </div>
</div>

</body>
</html>
